
}   color: white;
}   color: white;
    text-align: center;
    padding: 20p
hbh

}   color:  
}   color:
}   co
}   color: white;
    text-align: center;
    padding: 20p 
}   color:white;
   
}   color:
}   color: white;
    text-align: center;
    padding: 20p 
}   color:
}   color: white;
    text-align: center;
    padding: 20p     chbh

}   color:
}   color: white;
    text-align: center;
    padding: 20p white;
    text-align: center;
    padding: 20p


}   color: white;
    text-align: center;
    padding: 20ptext-align: center;
  
    padding: 0;
    box-sizing: border-box;

    background: #326080;
    color: w   color: white;
    text-align: center;
 

    text-align: center;
    padding: 20p


    backgr
}hbh

}   color: white;
    text-align: center;
    padding: 20p
hbh


/gthxCSC
body {hbh

}   color: white;
    text-align: center;
    padding: 20p
    font-family: Arial, sans-serif;
    background: #FFF1E7;
    cggguytuygSC

/ferdgvedrfgbvrtrza
/z    background: #326080;
    color: white;
    text-align: center;
    padding: 20px;
}
hbh

