body {
    margin: 0;


nav {
}

.hero h1 {
    font-size: 40px;
}
/* SECTIONS */
section {
    

/* FOOTER */
footer {
    background: #326080;
    color: white;
    text-align: center;
    padding: 15px;
}
