hbh

}   color: white;
    text-align: center;
    padding: 20p
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    background: #326080;
    color: w   color: white;
    text-align: center;
    padding: 20px;
}l.com
    backgr
}hbh

}   color: white;
    text-align: center;
    padding: 20p
hbh


/gthxCSC
body {hbh

}   color: white;
    text-align: center;
    padding: 20p
    font-family: Arial, sans-serif;
    background: #FFF1E7;
    cggguytuygSC

/ferdgvedrfgbvrtrza
/z    background: #326080;
    color: white;
    text-align: center;
    padding: 20px;
}
hbh

